.main-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(230, 229, 213);
}

.main-content {
    flex: 1;
    padding: 24px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}