*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* Убираем любые резервные места под скроллбар */
    scrollbar-gutter: auto; 
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* Устанавливаем основной фон страницы здесь */
    background-color: #f4f5f0; 
    color: #1a2027;
    overflow-x: hidden;
    line-height: 1.5;
}

button, a, .user-profile {
    -webkit-tap-highlight-color: transparent; /* Убирает синий квадрат при тапе на телефонах */
}

#root {
    width: 100%;
    min-height: 100vh;
}

/* Настройки скроллбара */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1a2027; 
}

::-webkit-scrollbar-thumb {
    background: #362105; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c1c5a8; 
}