.header {
    width: 100%;
    height: 64px;
    background-color: #1a2027;
    padding: 0 24px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* Если хочешь ограничить ширину контента хедера, раскомментируй: */
    /* max-width: 1400px; */
}

.header-logo-wrapper {
     display: flex;
     align-items: center;
     gap: 12px;
     text-decoration: none;
     color:#e6e5d5;
}

.header-logo-title {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 1px;
    cursor: default;
}

.header-logo-icon {
    display: block;
    height: 42px;
    width: auto;
}

.header-nav {
    display: flex;
    gap: 32px;
}

.nav-link {
    color: #c1c5a8;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s ease;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
}

.nav-link:hover, .nav-link.active {
    color: #e8ebd0;
    border-bottom-color: #c1c5a8;
}

.header-actions {
    display: flex;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    background: rgba(230, 229, 213, 0.1);
    padding: 6px 28px;
    border-radius: 20px;
    border: 1px solid rgba(193, 197, 168, 0.2);
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.user-profile:hover {
    color: #fef2f2;
    background: rgba(230, 229, 213, 0.2);
}

.user-email {
    color: #c1c5a8;
    font-size: 14px;
    font-weight: 500;
}

.settings-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #c1c5a8;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 0;
}

.settings-btn:hover {
    color: #fef2f2;
    transform: rotate(90deg);
}
.user-profile:hover .settings-btn {
    color: #fef2f2;
    transform: rotate(90deg);
}